.place__title {
  margin: 0;
  max-width: 460px;
  color: white;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 440px;
  }
}