.photo-grid {
  margin: 0px auto;
  padding-bottom: 92px;
  width: calc(100% - 2*48px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(225px, 1fr));
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    width: calc(100% - 2*24px);
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(264px, 1fr));
    gap: 16px;
  }
}