.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 2*48px);
  padding-top: 28px;
  padding-bottom: 56px;
}

@media screen and (max-width: 1024px) {
  .header {
      padding-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
      width: calc(100% - 2*24px);
  }
}

@media screen and (max-width: 320px) {
  .header {
      width: calc(100% - 2*16px);
      padding-top: 16px;
  }
}