.footer__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}


@media (max-width: 767px) and (min-width: 320px) {
  .footer__links {
    display: block;
    width: 100%;
  }
}