.intro {
  margin: 0;
  max-width: 690px;
  margin-left: 148px;
  margin-right: 442px;
  padding-bottom: 92px;
}

@media (max-width: 1279px) and (min-width: 1024px) {
  .intro {
    margin-left: 48px;
    margin-right: 286px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .intro {
    width: calc(100% - 2*24px);
    margin: 0px auto; 
    padding-bottom: 88px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .intro {
    width: calc(100% - 2*16px);    
    margin: 0px auto;   
    padding-bottom: 64px;
  }
}