.intro {
  margin: 0;
  max-width: 690px;
  margin-left: 148px;
  margin-right: 442px;
  padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 48px;
    margin-right: 286px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: calc(100% - 2*24px);    
    padding-bottom: 88px;
  }
}