.footer__item {
  padding-left: 18px;
}

.footer__item:first-child {
  padding-left: 0px;
}


@media (max-width: 767px) and (min-width: 320px) {
  .footer__item {
    padding-top: 32px;
    padding-left: 0;
  }
  .footer__item:first-child {
    padding: 0;
  }
}
