.cover__title {
  margin: 0;
  padding-top: 245px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  color: white;
  max-width: 560px;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .cover__title {
    padding-top: 115px;
  } 
}